* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  vertical-align: baseline;
  border: none;
}

@font-face {
  font-family: Avantgarde;
  font-weight: 400;
  src: url("./assets/fonts/itc/ITCAvantGardePro-Bk.otf") format("opentype");
}
@font-face {
  font-family: Avantgarde;
  font-weight: 700;
  src: url("./assets/fonts/itc/ITCAvantGardePro-Bold.otf") format("opentype");
}
@font-face {
  font-family: Avantgarde;
  font-weight: 500;
  src: url("./assets/fonts/itc/ITCAvantGardePro-Md.otf") format("opentype");
}
@font-face {
  font-family: Avantgarde;
  font-weight: 600;
  src: url("./assets/fonts/itc/ITCAvantGardePro-Demi.otf") format("opentype");
}
@font-face {
  font-family: Avenir;
  font-weight: 400;
  src: url("./assets/fonts/avenir/Avenir.ttc") format("opentype");
}

:root {
  --font-itc: Avantgarde;
  --font-avenir: Avenir;
  --variable-black: #000;
  --body-color: #666;
  --variable-white: #fff;
}

html {
  font-family: var(--font-itc);
  color: var(--variable-black);
  line-height: 1.5;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  color: var(--variable-black);
  overflow: hidden;
  overflow-y: auto;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.product {
  width: 50%;
}
.card-image {
  max-width: 720px;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-image .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (min-width: 1440px) {
  .card-image .image {
    -o-object-position: left top;
    object-position: left top;
  }
}
.product-detail {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  overflow: hidden;
  flex: 1;
}
.product-detail__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 6.625rem 0 7.5rem;
  margin-bottom: 4.25rem;
}
.product-detail__top__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  margin-bottom: 0.75rem;
}
.product-detail__top__description {
  font-family: var(--font-avenir);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: var(--body-color);
  margin-bottom: 2rem;
  padding-right: 3.875rem;
}
.product-detail__top__buy-button {
  font-weight: 900;
  font-size: 0.9rem;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 5px;
  color: var(--variable-black);
  border-bottom: 1px solid var(--variable-black);
}
.product-detail__slider {
  padding: 0 7.5rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product-detail__slider__product-card {
  max-height: 360px;
  max-width: 230px;
  height: 100%;
  color: var(--variable-black);
  font-family: "Avenir";
  font-size: 0.9rem;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-detail__slider__product-card img {
  max-width: 230px;
  max-height: 310px;
  width: 100%;
  height: 100%;
}
.product-detail__slider__product-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.product-detail__slider__product-card__title {
  font-weight: 500;
  margin: 12px 0 4px 0;
}
.product-detail__slider__product-card__price {
  font-weight: 600;
}
.product-detail__slider__product-card__color {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.product-detail__slider__product-card__color-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.product-detail__slider__product-card__color-item.active {
  width: 9.6px;
  height: 9.6px;
  padding: 1.2px;
  border: 1px solid var(--variable-black);
  box-sizing: content-box;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -22px !important;
  z-index: 10;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 3rem;
  background: transparent;
}

@media screen and (max-width: 1024px) {
.main {
    display: flex;
    flex-direction: column;
  }
  .main .product {
    width: 100%;
  }
  .main .card-image {
    max-width: 100%;
  }
  .main .card-image .image {
    -o-object-position: center;
    object-position: center;
  }
  .main .product-detail {
    margin-top: -15rem;
    padding: 4rem 0;
    flex: none;
  }
  .main .product-detail__top {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    color: var(--variable-white);
  }
  .main .product-detail__top__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 1rem;
  }
  .main .product-detail__top__description {
    display: none;
  }
  .main .product-detail__top__buy-button {
    color: var(--variable-white);
    border-bottom: 1px solid var(--variable-white);
    font-size: 500;
  }
  .main .product-detail__slider {
    height: 300px;
    padding: 0 1.5rem;
  }
}

